<%- include('../partials/header') %>
<br><br><h2>BUY SELL TRADE</h2>
  <label>Comment</label>
  <form id="comment-form" action="/funkos/<%= name %>/comments" method="POST" >
  <textarea name="content"></textarea>
 
  <button type="submit">Submit</button>
</form>


<%if(comments.length) { %>
<% comments.forEach(c => { %>
    <p><%= c.content %></p><br>
  <% }); %> 
  <%}%>
 




  
      
<%- include('../partials/footer') %>