<%- include('../partials/header') %>
<div id="New-Pop">
  <h2>Enter Your Funko Pop</h2>
  <form action="/funkos" method="POST">
  <label>Name:
    <input type="text" name="name">
  </label><br>
  <label>Code:
    <input type="text" name="code">
  </label><br>
  <label>Release Year:
    <input type="text" name="releaseYear">
  </label><br>
  <label>Value:
    <input type="text" name="value">
  </label><br>
  
  <button type="submit">Add Funko</button>
</form>
<p><%= errorMsg %></p>
</div>

<%- include('../partials/footer') %>