<%- include('../partials/header') %>

<h2>Enter Your Funko Pop</h2>
<form action="/funkos" method="POST">
  <label>Name:
    <input type="text" name="name">
  </label><br>
  <label>Code:
    <input type="number" name="code">
  </label><br>
  <label>Release Year:
    <input type="number" name="releaseYear">
  </label><br>
  <label>Value:
    <input type="number" name="value">
  </label><br>
  
  <button type="submit">Add Funko</button>
</form>
<p><%= errorMsg %></p>

<%- include('../partials/footer') %>